{% extends 'front/base.html' %}
{% load static %}

{% block content %}
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Game Review</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Game Review</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

 <!-- Blog Start -->
 <div class="blog">
    {% for i in game %}
    <div class="container">    
        <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="blog-item">
                <div class="blog-text">
                    <h2>{{i.title}}</h2>
                    <div class="blog-meta">
                        <p><i class="far fa-list-alt"></i>{{i.author}}</p>
                        <p><i class="far fa-calendar-alt"></i>{{i.time}}</p>
                        <p><i class="far fa-comments"></i>5</p>
                    </div>
                    <p>{{i.desc}}</p>
                    <p>{{i.key}}</p>

                    <a class="btn" href="{% url 'detail_berita' i.id %}">Read More <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Blog End -->

{% endblock content %}